#Prisma Url
DATABASE_URL=file:./dev.db
PG_PRISMA_URL=prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19vUFp1dGs2TnhCLUkwYmUzRWV5RlgiLCJhcGlfa2V5IjoiMDFLQjNOUk1YWk5UUlJUWTNORTk5MEJGTlgiLCJ0ZW5hbnRfaWQiOiIwZDVlYWNiZTg1ZWFmYTc2NDdiNzI0YjA2ZWI4MDViN2ZjZjM4ZjkyOTZlOTE3ZjYxODg5OGIyOWRiOTYwYmQxIiwiaW50ZXJuYWxfc2VjcmV0IjoiNmZkYjEzNmEtOGJiZC00MTAyLWFiNTUtMDc2NTA1NzhmYWY5In0.CDZwJyK2MY-Eu420VFUdy3zKLq7xeT5aIkR-xR9B9m8